{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Feature Based Sentiment Analysis</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css'  %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css'  %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="{% static 'js/Chart.min.js'  %}"></script>
    <script>

    </script>
</head>
<body>
  <nav class="blue " role="navigation">
    <div class="nav-wrapper container">
  		<a id="logo-container" href="" class="brand-logo">
  			<i class="large material-icons" style="font-size:50px">insert_chart</i>FBSA
  		</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/twitter">Home</a></li>
        <li><a href="/twitter/demo">Demo</a></li>
        <li><a href="http://127.0.0.1:5000/apidocs/" target="_blank">API</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="/twitter">Home</a></li>
        <li><a href="/twitter/demo">Demo</a></li>
        <li><a href="http://127.0.0.1:5000/apidocs/" target="_blank">API</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
      <div class="container">
          <br>

          <div class="row">
              <div class="col m3"></div>
              <div class="col m6 s12 xs12">
                  <canvas id="myChart" width="100%" height="100%"></canvas>
              </div>
              <div class="col m3"></div>
          </div>
          <script>

            var myChart = new Chart(document.getElementById("myChart"), {
                      type: 'pie',
                      data: {
                        labels: ["Positive", "Negative", "Neutral"],
                        datasets: [{
                          label: "Analysis Report",
                          backgroundColor: ["#66BB6A", "#EF5350", "#2196F3"],
                          data: [ {{ positive_tweets }} , {{ negative_tweets }}, {{ neutral_tweets }} ]
                        }]
                      },
                      options: {
                        title: {
                          display: true,
                          text: 'Sentiment Analysis of {{ tw_total_tweets }} Reviews on {{ tw_search_result }}'
                        }
                      }
                  });
          </script>

          <div class="row">
            
          {% for fs in feature_set %}
              
                  <div class="col m3 xs6">
                      <canvas id="myChart_{{ forloop.counter }}" width="99%" height="99%"></canvas>
                  </div>
                  <script>
                      var myChart_{{ forloop.counter }} = new Chart(document.getElementById("myChart_{{ forloop.counter }}"), {
                                type: 'pie',
                                data: {
                                  datasets: [{
                                    label: "Analysis Report",
                                    backgroundColor: ["#66BB6A", "#EF5350", "#2196F3"],
                                    data: [{{ fs.1.0 }},{{ fs.1.1 }},{{ fs.1.2 }}]
                                  }]
                                },
                                options: {
                                  title: {
                                    display: true,
                                    text: '{{ fs.0 }}'
                                  }
                                }
                            });
                    </script>
                
              {% endfor %}


            </div>











              {% for tw in tweets %}
                          <div class="row">
                              <div class="col m2"></div>
                            <div class="col s12 m8">
                              <div class="card ">
                                <div class="card-content {% if tw.1 > 0 %}green-text{% elif tw.1 < 0 %}red-text{% else %}blue-text{% endif %}">
                                  <p>{{ tw.0 }}</p>
                                </div>
                                <div class="card-action {% if tw.1 > 0 %}green{% elif tw.1 < 0 %}red{% else %}blue{% endif %} lighten-1 white-text">
                                    {% if tw.1 > 0  %}
                                        <a href="#" style="color:#fff;">Positive <i class="material-icons">sentiment_very_satisfied</i></a>
                                    {% elif tw.1 < 0 %}
                                        <a href="#" style="color:#fff;">Negative <i class="material-icons">sentiment_very_dissatisfied</i></a>
                                    {% else %}
                                        <a href="#" style="color:#fff;">Neutral <i class="material-icons">sentiment_neutral</i></a>
                                    {% endif %}
                                    <span style="text-align:right">{{ tw.1 }}</span>
                                </div>
                              </div>
                            </div>
                            <div class="col m2"></div>
                          </div>
                {% endfor %}

      <br>
    </div>
  </div>

  <!--<footer class="page-footer red lighten-1">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="">The Whistleblowers</a>
      </div>
    </div>
  </footer>-->


  <!--  Scripts-->
  <script src="{% static 'js/jquery.js'  %}"></script>
  <script src="{% static 'js/materialize.js'  %}"></script>
  <script src="{% static 'js/init.js'  %}"></script>

  </body>
</html>
