{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Feature Based Sentiment Analysis</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css'  %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'css/style.css'  %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="{% static 'js/Chart.min.js'  %}"></script>

    <style>
      .loader{
        display: none;
        position: fixed;
        text-align: center;
        height: 1000px;
        width: 100%;
        vertical-align: middle;
        z-index: 9999;
      }
    </style>

</head>
<div class="js">
<body>
  <div id="preloader"></div>
  <nav class="blue " role="navigation">
    <div class="nav-wrapper container">
		<a id="logo-container" href="/twitter" class="brand-logo">
			<i class="large material-icons" style="font-size:50px">insert_chart</i>FBSA
		</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/twitter">Home</a></li>
      <li><a href="/twitter/demo">Demo</a></li>
      <li><a href="http://127.0.0.1:5000/apidocs/" target="_blank">API</a></li>
    </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/twitter">Home</a></li>
        <li><a href="/twitter/demo">Demo</a></li>
        <li><a href="http://127.0.0.1:5000/apidocs/" target="_blank">API</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
      <div class="container">
          <br>

          {% if is_post == True %}
            <form action = "/twitter/" method="GET">
                {% csrf_token %}
          			<div class="row" align="center">
          				<div class="input-field col m5">
          					<i class="material-icons prefix" style="color:#2196f3">search</i>
          					<input id="icon_prefix" type="text" value="{{ tw_search_result }}" name="tw_search" class="validate" required="True" />
          					<label for="icon_prefix">Search Topic</label>
          				</div>
          				<div class="input-field col m3">
                    <i class="material-icons prefix" style="color:#2196f3">view_list</i>
                    <input id="icon_prefix" type="text" name="tw_count" value="{{ tw_total_tweets }}" class="validate" required="True" />
          					<label for="icon_prefix">No. of tweets</label>
          				</div>
          				<div class="col m4">
                    <input type="submit" value="Search" name="submit" class="btn waves-effect waves-light red lighten-1">
                  </div>
          			</div>
            </form>
          {% endif %}


          {% if is_post == False %}
          <h1 class="header center red-text lighten-1">Sentiment Analysis </h1>
          <div class="row center">
            <h5 class="header col s12 light">Because analytics should be exact.</h5>
          </div>
          {% endif %}

          {% if is_post == True %}
                <div class="row">
                    <div class="col m3"></div>
                    <div class="col m6">
                        <canvas id="myChart" width="100%" height="100%"></canvas>
                    </div>
                    <div class="col m3"></div>
                </div>
                <script>
                  var myChart = new Chart(document.getElementById("myChart"), {
                            type: 'pie',
                            data: {
                              labels: ["Positive", "Negative", "Neutral"],
                              datasets: [{
                                label: "Analysis Report",
                                backgroundColor: ["#66BB6A", "#EF5350", "#2196F3"],
                                data: [ {{ positive_tweets }} , {{ negative_tweets }}, {{ neutral_tweets }} ]
                              }]
                            },
                            options: {
                              title: {
                                display: true,
                                text: 'Sentiment Analysis of {{ tw_total_tweets }} tweets on {{ tw_search_result }}'
                              }
                            }
                        });

                </script>

                <div class="row">
                  
                  {% for fs in feature_set %}

                          <div class="col m3 xs6">
                              <canvas id="myChart_{{ forloop.counter }}" width="99%" height="99%"></canvas>
                          </div>
                          <script>
                              var myChart_{{ forloop.counter }} = new Chart(document.getElementById("myChart_{{ forloop.counter }}"), {
                                        type: 'pie',
                                        data: {
                                          datasets: [{
                                            label: "Analysis Report",
                                            backgroundColor: ["#66BB6A", "#EF5350", "#2196F3"],
                                            data: [{{ fs.1.0 }},{{ fs.1.1 }},{{ fs.1.2 }}]
                                          }]
                                        },
                                        options: {
                                          title: {
                                            display: true,
                                            text: '{{ fs.0 }}'
                                          }
                                        }
                                    });
                            </script>
                                
                      {% endfor %}


                    </div>

          {% endif %}
          {% if is_post == False %}
              <form action = "/twitter/" method="GET">
                {% csrf_token %}
                <div class="row" align="center">

                  <div class="input-field col m5 center" align="center">
                    <i class="material-icons prefix" style="color:#2196f3">search</i>
                    <input id="icon_prefix" type="text" name="tw_search" class="validate" required="True" />
                    <label for="icon_prefix">Search Topic</label>
                  </div>
                  <div class="input-field col m4 center" align="center">
                    <i class="material-icons prefix" style="color:#2196f3">view_list</i>
                    <input id="icon_prefix" type="text" name="tw_count" class="validate" required="True" />
                    <label for="icon_prefix">No. of tweets</label>
                  </div>
                  <div class="input-field col m3 center" align="center">
                    <input type="submit" value="Search" name="submit" class="btn-large waves-effect waves-light red lighten-1">
                  </div>
                </div>
                <!--<div class="row" align="center">
                  <input class="with-gap" name="tw_type" type="radio" value="imdb" id="search_type_movie" required="True" />
                  <label for="search_type_movie">Movie Reviews</label>
                  <input class="with-gap" name="tw_type" type="radio" value="amazon" id="search_type_product" required="True" />
                  <label for="search_type_product">Product Reviews</label>
                </div>-->
                <div class="row center">

                </div>
              </form>
              
              <div class="row" align="center">
                <h3 class="header center blue-text lighten-1">Trends</h3>
                  {% for tr in trends %}
                    <a href="/twitter/?tw_search={{ tr.0 }}"><button class="btn waves-effect waves-light blue lighten-1" style="text-transform: None;margin-top:5px;">{{ tr.1 }}</button></a>
                  {% endfor %}
                
              </div>


          {% else %}
              {% for tw in tweets %}
                          <div class="row">
                              <div class="col m2"></div>
                            <div class="col s12 m8">
                              <div class="card ">
                                <div class="card-content {% if tw.1 > 0 %}green-text{% elif tw.1 < 0 %}red-text{% else %}blue-text{% endif %}">
                                  <p>{{ tw.0 }}</p>
                                </div>
                                <div class="card-action {% if tw.1 > 0 %}green{% elif tw.1 < 0 %}red{% else %}blue{% endif %} lighten-1 white-text">
                                    {% if tw.1 > 0  %}
                                        <a href="#" style="color:#fff;">Positive <i class="material-icons">sentiment_very_satisfied</i></a>
                                    {% elif tw.1 < 0 %}
                                        <a href="#" style="color:#fff;">Negative <i class="material-icons">sentiment_very_dissatisfied</i></a>
                                    {% else %}
                                        <a href="#" style="color:#fff;">Neutral <i class="material-icons">sentiment_neutral</i></a>
                                    {% endif %}
                                    <span style="text-align:right">{{ tw.1 }}</span>
                                </div>
                              </div>
                            </div>
                            <div class="col m2"></div>
                          </div>
                {% endfor %}
          {% endif %}
      <br>
    </div>
  </div>

  <!--<footer class="page-footer red lighten-1">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="">The Whistleblowers</a>
      </div>
    </div>
  </footer>-->
  <div class="loader">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="{% static 'js/jquery.js'  %}"></script>
  <script src="{% static 'js/materialize.js'  %}"></script>
  <script src="{% static 'js/init.js'  %}"></script>
  <script>
    jQuery(document).ready(function($) {
      $(window).load(function(){
        $('#preloader').fadeOut('slow',function(){
          $(this).remove();
        });
      });
    });
  </script>
  </body>

</html>
